<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Metas tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="static/styles/style.css">

        <title>Netflex</title> 
    </head>
    <body>
        <!--NavBar-->
        <nav id="navb" class="navbar fixed-top navbar-expand-lg navbar-dark bg-transparent">
            <a class="navbar-brand" href="/"><b style="color: #008cff;">NETFLEX</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link disabled" href="#">          </a>
                    <a class="nav-item nav-link" href="/#viendo">Seguir Viendo <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/#recomendado">Para Ti</a>
                    <a class="nav-item nav-link" href="/#popular">Lo Más Visto</a>
                </div>
            </div>
        </nav>
        <div class="detail-container">
            <h3>Stranger Things</h3>
            <p>Serie de TV (2016). Primera temporada: 8 episodios. Homenaje a los clásicos misterios sobrenaturales de los años 80, "Stranger Things" es la historia de un niño que desaparece en el pequeño pueblo de Hawkins, Indiana, sin dejar rastro en 1983. En su búsqueda desesperada, tanto sus amigos y familiares como el sheriff local se ven envueltos en un enigma extraordinario: experimentos ultrasecretos, fuerzas paranormales terroríficas y una niña muy, muy rara...</p>
        </div>

        <iframe width="1280" height="720" src="https://www.youtube.com/embed/x7Yq9MJUqjY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </body>
</html>